.jumbotron-summoner{
    background: url("../img/summoner-jumbotron.jpg") center;
}

.winner-team{
    background-color: #90caf9;
}
.losser-team{
    background-color: #e57373;
}

summoner-detail{
    border-radius: 5px;
    border: 1px dotted;
    padding:16px;
}